.upperBody {
  padding-top: 4%;
  background: #e7eaed;
  height: 40rem;
  /* background-color: #000000fa !important; */
  /* color: whitesmoke; */
}

.whatDoCol {
  margin-left: 6%;
}

.whatDo {
  font-size: 3.5rem;
  padding-bottom: 3%;
}

.whatDoT {
  padding-left: 1%;
  font-size: 2rem;
}

.whatDoP {
  padding-left: 2%;

  font-size: 1.5rem;
}

.L {
  padding-bottom: 0;
  text-align: center;
  /* margin-left: 0%; */
  /* margin-right: 28%; */
}

.F {
  margin-right: 0%;
}

.F:link,
.F:visited {
  color: black;
  /* color: whitesmoke; */
}

.F:hover {
  text-decoration: none;
  /* color: #00d9ff; */
  color: #ca1bfc;
}

.colLink {
  padding-top: 3rem;
}
