.lowerB {
  height: 40rem;
}

.lowerC {
  min-width: 100%;
}

.lowerCol {
  padding-top: 6rem;
}

.img {
  /* margin-left: 5rem; */
  min-width: 15rem;
  width: 80%;
}

.lowerTxt {
  margin-top: -2.5rem;
  font-size: 4rem;
  text-align: center;
  padding-bottom: 1rem;
}

.lowQuote {
  padding-top: 2.5%;
  font-size: 1rem;
  font-family: 'Pacifico', cursive;
}

.lowList {
  margin-top: 0.5%;
  font-size: 1.1rem;
}

.lowhh {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}
