.lowerB {
  height: 40rem;
}

.lowerC {
  min-height: 100%;
  min-width: 100%;
}

.lowerCol {
  padding-top: 6rem;
  max-width: 5rem;
}

.img {
  /* margin-left: 5rem; */
  min-width: 15rem;
  width: 80%;
}

.lowerTxt {
  font-size: 4rem;
  text-align: center;
}
