.lowerHead {
  text-align: center;
  padding-top: 70px; /* changed it from 5px with the lower margin */
  /* margin-top: 20px; */
  font-size: 50px;
}

.lowerText {
  /* background-color: darkgray; */
  /* color: whitesmoke; */
  text-align: center;
  margin-top: 15px;
}

.lowerGoal {
  /* background-color: darkgray; */
  /* color: whitesmoke; */
  text-align: center;
  margin-top: 10px;
  padding-bottom: 100px;
  margin-bottom: 0;
}
