.headerH {
  /* color: whitesmoke; */
  /* height: 60rem;
  min-height: 50rem; */
  height: 100%;
  min-width: 100%;
  /* background-color: #000000fa !important; */
}

.headerB {
  /* position: absolute; */
  min-width: 100%;
  overflow: hidden;
  height: 949px;
}

.display-1 {
  /* padding-top: 7%; */
  display: block;
  margin: 0 auto;
  padding-top: 6%; /* 12% looks like it sets it dead center on 1920x1080, 10% is without bottom-quote. */
  text-align: center;
}

.display-4 {
  margin-top: 9rem;
  text-align: center;
}

.bottomQuote {
  margin-top: 10rem;
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Pacifico', cursive;
}
