.headerH {
  /* color: whitesmoke; */
  /* height: 60rem;
  min-height: 50rem; */
  height: 100%;
  /* background-color: #000000fa !important; */
}

.headerB {
  /* position: absolute; */
  overflow: hidden;
  top: 50%;
  left: 50;
  transform: translate(-0%, -0%);
  width: auto;
  height: 949px;
}

.display-1 {
  /* padding-top: 7%; */
  padding-top: 12%; /* 12% looks like it sets it dead center on 1920x1080 */
  text-align: center;
}

.display-4 {
  margin-top: 9rem;
  text-align: center;
}
