.containerDiv {
  display: block;
  margin: 0 auto;
  max-width: 1920px;
  background-color: whitesmoke;
}

.bodyDiv {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
}

span {
  /* color: #00d9ff; */
  color: #ca1bfc;
}
