body {
  font-family: Segoe UI Light !important;
}

/* Media Breakpoints */

/* 1440px */

@media (max-width: 1440px) {
  /* LowerBody */

  .lowerTxt {
    font-size: 3.5rem !important;
  }

  .lowerB {
    height: 42rem !important;
  }

  .img {
    padding-top: 6rem !important;
  }

  .lowh {
    font-size: 1.4rem;
  }

  .lowhh {
    font-size: 1.4rem;
  }

  .lowList {
    font-size: 1.1rem !important;
  }

  .lowQuote {
    padding-top: 3.5% !important;
  }

  /* Header */

  .headerB {
    height: 849px !important;
  }
}

/* 1024px */

@media (max-width: 1024px) {
  /* LowerBody */

  .img {
    padding-top: 7.2rem !important;
    padding-right: 2rem;
  }

  /* Header */

  .display-1 {
    padding-top: 0% !important;
  }

  .headerB {
    height: 649px !important;
  }

  .bottomQuote {
    margin-top: 5rem !important;
    font-size: 1.3rem !important;
  }
}

/* 414px */

@media (max-width: 714px) {
  /* Header */

  .display-1 {
    padding-top: 10% !important;
    font-size: 4rem !important;
  }

  .display-4 {
    margin-top: 4rem !important;
    font-size: 2.5rem !important;
  }

  .bottomQuote {
    margin-top: 5rem !important;
    font-size: 1.3rem !important;
  }

  /* LowerHeader */

  .lowerHead {
    font-size: 2.5rem !important;
  }

  .lowerText {
    font-size: 1.4rem !important;
    padding: 0% !important;
  }

  .lowerGoal {
    font-size: 1.4rem !important;
  }

  /* UpperBody */

  .upperBody {
    height: 65rem !important;
  }

  .whatDo {
    padding-top: 2rem;
    font-size: 2.5rem !important;
  }

  .whatDoT {
    font-size: 1.7rem !important;
  }

  .whatDoP {
    font-size: 1.3rem !important;
  }

  .upperL {
    margin-top: -3rem;
    text-align: left !important;
    padding-left: 1.2rem;
  }

  /* LowerBody */

  .lowerB {
    height: 57rem !important;
  }

  .hid {
    display: none;
  }

  .lowerCol {
    /* min-width: 22.5rem !important; */
    min-width: 100% !important;
  }

  .lowerTxt {
    font-size: 2rem !important;
  }

  .lowh {
    font-size: 1.2rem;
  }

  .lowhh {
    font-size: 1.2rem;
  }

  .lowList {
    font-size: 1rem !important;
  }

  .lowQuote {
    padding-top: 4rem !important;
  }
}
